# .env.example
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/flower-shop?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
